DB_NAME=neynar_parquet_importer
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=
DB_PORT=15432

OPENAI_API_KEY=
NEYNAR_API_KEY=
VOYAGE_API_KEY=

# Logging configuration
LOG_LEVEL=INFO
LOG_FILE=logs/pipeline.log 