# Core dependencies
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.6.0
transformers==4.48.1
sentence-transformers==3.3.1
numpy==1.26.3
psutil==5.9.7
accelerate==1.3.0
optimum==1.24.0
optimum-quanto==0.2.7
scikit-learn==1.6.1
propcache==0.2.1
tiktoken==0.5.2

# API and services
fastapi==0.108.0
uvicorn==0.25.0
aiohttp==3.9.1
supervisor==4.2.5

# Database
psycopg2-binary==2.9.9
sqlalchemy==2.0.25
asyncpg==0.28.0

# Testing and development
pytest==7.4.4
pytest-asyncio==0.23.3
black==23.12.1
isort==5.13.2

# Logging and monitoring
python-json-logger==2.0.7
python-dotenv==1.0.0

# Dependencies automatically installed
pillow==11.1.0
pydantic==2.10.5
tqdm==4.67.1
tokenizers==0.21.0
huggingface-hub==0.27.1 